{% layout "default" %}

{% block footer %}
  <!-- Alpine Plugins -->
  <script defer src="//cdn.jsdelivr.net/npm/@alpinejs/sort@3.14.3/dist/cdn.min.js"></script>

  <!-- Alpine Core -->
  <script defer src="//cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js"></script>
{% endblock %}

{% block content %}

  <form
    id="submit-vote"
    method="post"
    action="/vote"
    class="flex flex-col min-w-30"
    x-data>
    <h1 class="mb-0">{{ vote.title | escape }}</h1>

    <input
      type="hidden"
      name="csrf-token"
      value="{{ localId | escape }}">
    <input
      type="hidden"
      name="poll_id"
      value="{{ vote.poll_id | escape }}">
    <ol
      id="ranked-votes"
      x-sort
      x-sort:group="ranks"
      class="relative w-full min-h-20 pr-2 bg-orange-800 [&:has(li)_.help]:hidden">
      <div class="help absolute inset-0 p-2 text-zinc-300 text-opacity-50 flex items-center">
        <span class="w-fit mx-auto">Drag items here to rank them</span>
      </div>
    </ol>
    <ul
      x-sort
      x-sort:group="ranks"
      class="w-30 min-h-20 pr-2 bg-zinc-700 [&_li]:list-none">
      <span class="display:none"></span>
      {% for option in vote.options %}
        <li class="w-full" x-sort:item="{{ option.option_id | escape }}">
          <div class="flex flex-row flex-nowrap items-center gap-2">
            <input
              class="ranked-option"
              type="hidden"
              name="test[]"
              value="{{ option.option_id | escape }}">
            <span>{{ option.name | escape }}</span>
            <div class="w-6 h-6 ml-auto self-start hover:cursor-move" x-sort:handle>
<!-- esthetic-ignore-next -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            </div>

          </div>
        </li>
      {% endfor %}
    </ul>
    <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:bg-orange-400" type="submit">Submit</button>

  </form>
  <script type="text/javascript">
      {% raw %}
    (function () {
      'use strict';
      // i'm not _certain_ that the form keys will be ordered in DOM order,
      // so this little handler guarantees it by renaming them all
      const rankedVotes = document.getElementById('ranked-votes');
      document.getElementById('submit-vote').addEventListener('submit', (ev) => {
        let i = 0;
        for (let element = rankedVotes.firstElementChild; element !== null; element = element.nextElementSibling) {
          const inp = element.querySelector('input.ranked-option')
          if (inp === null) continue;
          console.log(i, inp.getAttribute('value'));
          inp.setAttribute('name', `ranks[${i++}]`);
        }
      });
    })();
      {% endraw %}
  </script>
{% endblock %}